footer {
	.footer_box{

	
	margin: 0 auto;
	max-width: 1170px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #000000;
	@media(max-width: 690px){
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
}
	.left{
display: flex;
	flex-direction: row;
	.text{
		font-family: Roboto;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0px;
		text-align: left;
		color: #999999;
		
		
	}
	.text1{
		font-family: Roboto;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0px;
		text-align: left;
		color: #999999;
		margin-left: 70px;
		@media(max-width: 690px){
			margin-left: 30px;
			
		}
	}
	}

	.right{
		display: flex;
		flex-direction: row;
		.text{
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: 0px;
			text-align: left;
			color: #999999;
	
		}
		.text1{
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: 0px;
			text-align: left;
			color: #999999;
			margin-left: 70px;
			@media(max-width: 690px){
				margin-left: 30px;
			}
		}
	}
}
